body {
  text-align: center;
  background-color: #1a1c21;
}

* {
  text-decoration: none;
  color: white;
  font-weight: 700px;
  list-style-type: none
}

.content {
  justify-content: center;
  margin: 0;
  top: 70px;
  position: relative;
  display: grid;
  font-size: 26px;
  grid-template-columns: 420px 420px;
  grid-template-rows: 580px 580px;
  border: 3px orange solid;
  width: 900px;
}

.card {
  margin: 15px;
  border: red 3px solid;
  height: 500px;
  position: relative;
}

.card * {
  max-width: 350px;
}

.card-icon {
  display:flex;
  position: absolute;
  bottom: -45px;
  right: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card-icon a {
  display: inline-block;
  border-radius: 3px;
  width: 40px;
  height: 30px;
  border: 1px blue solid;
  margin: 5px;
  background-color: blue;
}

.reviewBody .reviewInfo {
  font-size: 16px;
  margin: 5px;
}

.reviewBody p {
  background-color: green;
  border: green 3px solid;
  width: 300px;
}


.card h4 {
  top: 0;
  margin:5px 0;
  font-size: 22px;
  height: 60px;
}

.card img {
  top:0;
  margin:0;
  position: relative;
}

header {
  background-color: #282c34;
  height:60px;
  display: flex;
  color: white;
  border: green 3px solid;
}

h1 {
  margin: 0;
  font-size: 46px;
}

.nav-bar {
  display: flex;
  list-style-type: none;
  top: 30px;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto; 
  margin-right: auto; 
  width: 400px;

  
}
.nav-bar li {
  display: flex;
  margin: 0 3px;
  border: 1px rgb(161, 161, 161) solid;
  background-color: purple;
	transform: skewX(20deg);
  height: 35px;
  align-items: center;
  justify-content: center;
  width: 300px;
  transition: all 0.2s;
}

.nav-bar li:hover {
  transform: scale(1.1) skewX(20deg);
}


.nav-bar li p {
  transform: skewX(-20deg);
  font-size:23px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
